repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.9
  - repo: local
    hooks:
      - id: tests
        name: Tests
        entry: poetry run pytest --cov=xicorpy
        language: system
        types: [ python ]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        types: [ python ]
        pass_filenames: false
